.header {
  background: rgb(229, 229, 229);
  padding: 100px 0;
  font-size: 38px;
  text-align: center;
  display: flex;
}

@media (max-width: 1200px) {
  .header {
    font-size: 26px;
  }
}